/* Calendar styles */
.calendar-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 1200px; /* Increased width for side-by-side layout */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.calendar-title {
    font-size: 2.5em;
    color: #ff6347; /* Tomato red */
    margin-bottom: 20px;
}
  
.calendar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the months */
    width: 100%;
    gap: 30px; /* Space between December and January */
}
  
.calendar {
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%; /* Adjust width to make calendars fit side by side */
    background-color: #fff;
    transform: scale(1);
    transition: transform 0.3s ease;
}
  
.calendar:hover {
    transform: scale(1.05); /* Add a subtle zoom effect when hovering */
}

.event-list-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 35%;
    overflow-y: auto;
}

.events-heading {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Verdana', sans-serif;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.event-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.event-name {
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
}

.view-details-btn {
    padding: 8px 15px;
    background-color: #b132cd;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.view-details-btn:hover {
    background-color: #74228b;
    transform: scale(1.1);
}

.tile {
    transition: all 0.3s ease;
}

.tile:hover {
    background-color: #f0f8ff;
    border-radius: 8px;
    cursor: pointer;
}

.highlight {
    background-color: #933bff;
    color: white;
    text-decoration: underline;
}

.event-info {
    border: 1px solid rgb(84, 67, 67);
  }
  
